// Heading Color
$heading-color: #cc0000;

// Text Color
$text-color: #cc0000;

// Default Background
$bg-default: #ba0000;

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #be0000;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #ba0000;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #3c3c3c;